<h1>Bem-vindo ao Sistema de Gestão JAP</h1>
<p>Este sistema permite gerir veículos, clientes e contratos de aluguer de forma eficiente.</p>

<div class="statistics">
    <h2>Estatísticas</h2>
    <ul>
        <li>Total de Veículos: @ViewData["TotalVeiculos"]</li>
        <li>Total de Clientes: @ViewData["TotalClientes"]</li>
        <li>Contratos Ativos: @ViewData["ContratosAtivos"]</li>
    </ul>
</div>


<div class="links">
    <h3>Links Úteis</h3>
    <ul>
        <li><a style=" color: #ff0000; font-weight: bold;" href="https://github.com/miguel33177/Desafio_JAP">Repositório github</a></li>
        <li><a style="color: #ff0000; font-weight: bold;" href="https://www.grupojap.pt/">Grupo JAP</a></li>
    </ul>
</div>

  