@model DesafioJAP.Models.Veiculo

<h1 style="margin-bottom: 40px;" >Adicionar veículo</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Marca"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Modelo"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Matricula"></label>
        <input asp-for="Matricula" class="form-control" />
        <span asp-validation-for="Matricula" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AnoFabrico"></label>
        <input asp-for="AnoFabrico" type="number" class="form-control" />
        <span asp-validation-for="AnoFabrico" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoCombustivel"></label>
        <input asp-for="TipoCombustivel" class="form-control" />
        <span asp-validation-for="TipoCombustivel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
